
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.env*.local
.pnp.js
.vercel
*.db
*.pem
*.sqlite
*.tsbuildinfo
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
# database
# debug
# dependencies
# local env files
# misc
# next.js
# production
# testing
# typescript
# vercel
next-env.d.ts
npm-debug.log*
prisma/dev.db
prisma/dev.db-journal
yarn-debug.log*
yarn-error.log*

.env
.env.local
.env*.local
keys/
*.p8
keys/
*.p8
